.html{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: url("../images/fondo1.jpg");
background-size: cover;
background-repeat: no-repeat;
}
.container{
    position: absolute;
    left: -12%;
}